* {
    color: #000;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'content';
    height: 100%;
    width: 100%;
    /* background: red; */
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'title'
        'status'
        'options';
    text-align: center;
}
.content > div {
    margin-top: 5%;
}

.title {
    font-size: 2rem;
    grid-area: title;
}

.status {
    grid-area: status;
    font-size: 3rem;
}

.options {
    grid-area: options;
    font-size: 2rem;
}