* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: .2fr .8fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav content";
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "block"
        "add";
    text-align: center;
    border-right: solid 3px red;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 97vh;
}

.block {
    font-size: 1.8rem;
    grid-area: block;
    margin-top: 20%;
    cursor: pointer;
}

.add {
    font-size: 1.8rem;
    grid-area: add;
}

.content {
    padding-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    grid-area: content;
    display: grid;
    grid-template-columns: .6fr .3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "newurl btn";
    width: 100%;
    /* overflow: scroll; */
}

.input {
    grid-area: newurl;
    width: 80%;
    height: 60px;
    font-size: 2.5rem;
    cursor: text;
}

.input>#newurl {
    width: 100%;
    height: 100%;
    border: red solid 5px;
    border-radius: 40px;
    font-size: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    grid-area: btn;
    text-align: center;
    align-self: top;
    justify-self: center;
    font-size: 2rem;
    /* margin-top: 4%; */
    border-radius: 15px;
    background-color: blueviolet;
    width: auto;
    height: 40px;
    padding: 5%;
    cursor: pointer;
}